article.signup-article .signup-info {
  flex-grow: 1;
  padding-left: 12px;
}

article.signup-article {
  display: flex;
  justify-content: flex-start;
  background: #1D201F;
  height: 100vh;
  max-height: 100vh;
}
